* {
	margin:0; padding:0; 		/*全要素のマージン・パディングをリセット*/
}

body{
font-family:Georgia, '游明朝', YuMincho, 'Hiragino Mincho ProN', Meiryo, serif;
margin-left:14%;
margin-right:14%;
}

header{
  height: 730px;
  /* background-color:pink; */
}

.title{
  font-size: 36px;
  margin-top: 62px;
  height:40px;
}
.title a{
  text-decoration: none;
  color: #121212;
}

.menu-container{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  height: 40px;
}

.menu-container a,.contents a ,footer a{
  text-decoration: none;
  color:#444444;
}
.menu-container ul ,.contents a:hover, footer a:hover{
  color:#c9ab53;
}


.subtitle{
  font-weight: lighter;
  color:#777;
  padding-top: 5px;
  font-size: 18px;
  /* background-color:red; */
  width:20%;
}

nav{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /* background-color: yellow; */
  width:80%;
}

nav ul{
  list-style: none;
  /* background-color: lightblue; */
  width:500px;
  width:80%;
  display: flex;
  padding-left: 14.5%

}
nav .menu{
  padding:3px 10px;
  /* background-color: purple; */
  text-align: center;

}

nav i{
  padding:0 10px;
}

nav .home{
  font-size: 100px
}




/* .search{
  font-size: 1.5em;
  display: block;
  position: relative;
} */








header img{
  padding-top: 72px;
}






.punchline{
  font-size: 27px;
  /* background-color: yellow; */
  padding-top:10px;
  line-height: 1.8;
  color:#777;
}



.article{
  margin-top:112px;
  /* background-color: green; */
  border-bottom: solid #e6e6e6 1px;
  padding-bottom:5px;
}
.article .post{
  height:186px;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}
.date{
  /* display: inline-block; */
  /* background-color: yellow; */
  font-size: 17px;
  margin-top:9px;
  color: #999;
  width:20%;
}
.contents{
  /* display: inline-block; */
  /* margin-left: 335px; */
  /* background-color: red; */
  margin-left: 10%;
  width:70%;
  padding-left: 30px;
}
.contents h2,p{
  /* background-color: lightblue; */
}

.contents h2{
  font-size: 22.3px;
  margin-bottom:24px;
}

.contents p{
  font-size: 16.9px;
  line-height: 1.8;
  color:#656565;
}

.index{
  list-style: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  /* background-color: red; */
  /* border:solid blue; */
  margin-left: 20%;
  padding-left: 124px;
  margin-bottom: 100px;
  /* background-color: pink; */
}
.index a{
  text-decoration: none;
  color:#444444;
  display: block;
}

.index a:hover{
  text-decoration: none;
  color:#000000;
}


.index .number{
  border:solid 1px #dddddd;
  height: 48px;
  width:47px;
  text-align: center;
  line-height: 50px;
  margin: 0 4px;
  color:#777777;
  /* background-color: purple; */
}

.index .next{
  border:solid 1px #dddddd;
  height: 48px;
  width:86px;
  text-align: center;
  line-height: 50px;
  margin: 0 4px;
  color:#777777;
}

.footer{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  margin-top: 74px;
}
.profile{
  /* background-color: pink; */
  width:32%;
}

.profile img{
  border-radius: 50%;
  width:100px;
}

.footer .container{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.footer .container .name{
  margin-top: 22px;
  margin-left:22px;
}
.profile h2{
  font-size: 19px;
  margin-bottom:12px;

}

.profile i{
  display:inline-block;
  margin-right:10px;
  color:#999999;

}
.profile p{
  width :79%;
  margin-top: 20px;
  font-size: 17px;
  line-height: 1.7;
  color:#666;
}

.footer h3{
  font-size: 15px;
  padding-left:2px;
  padding-bottom:30px;

}

.footer .right p{
  width :80%;
  line-height: 1.65;
  font-size:16px;
}
.footer{
  height: 380px;
  border-bottom: solid #dddddd 1px;
}


.facebook,.instagram,.twitter{
  font-size: 24px;
}

.right{
  /* background-color: lightblue; */
  width:25%;
}
.middle{
  width:22%;
}

.footer h4{
  display: inline-block;
  width: auto;
  border-bottom: solid 1px #dddddd;
  margin-bottom:5px;
  color:#777;
  font-weight: lighter;
}
.footer  p{
  color:#777;

}

.footer .post{
  margin-bottom: 15px;
}
.category{
  /* background-color: yellow; */
  width:21%;

}

.footer ul{
  list-style: none;

}

.foot{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;

  margin-top: 64px;

  font-size: 15.7px;
  margin-bottom: 100px;
}

.foot i{
  margin-right: 26px;
  color:#999999;
}
.foot p{
  padding-left:200px;
}

footer input{
  margin:64px 5px;
  height:42px;
  width:200px;
  font-family:YuMincho;
  font-size: 18px;
  padding:5px;
  border:#dddddd solid 1px;

}
